* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #378e8e;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: baseline;
  
    .logo {
      margin: 28px;
      @media only screen and (max-width: 599px) {
        width: 90%;
      }
    }
  }

  .favorite {
    align-self: baseline;

    @media only screen and (max-width: 599px) {
      margin-left: 20px;
    }
  }
}