* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #378e8e;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;

  .logo {
    margin: 28px;
  }
}